@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-neat/app/assets/stylesheets/neat";


.topbar {
    $large-screen: 50em !default;
    $centered-navigation-height: 60px;
    $centered-navigation-logo-height: 2em;
    background-color: #368ee0;
    width: 100%;
    height: 50px;
    display: flex;

    justify-content: space-between; 
    .topbar-title {
        margin: auto 0;
        margin-left: 25px;
        align-self: stretch;

        a {
          font-weight: 200;
          color: #efefef;
          text-decoration: none;
        }
    }
    .topbar-nav {
        margin: auto 0;
        margin-right: 25px;
        align-self: flex-end;
    }
    // Mobile view
    .mobile-logo {

        @include media($large-screen) {
            display: none;
        }
        img {
            max-height: $centered-navigation-logo-height;
        }
    }
    .topbar-mobile-menu {

        @include media ($large-screen) {
            display: none;
        }
    }

    ul.topbar-menu {
        //clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        //Find better solution
        //line-height: 50px;
        //
        &.show {
            display: block;
        }
        @include media ($large-screen) {
            display: block;
            text-align: center;
        }
    }
    // Nav items
    ul li.nav-link {

        a {
            color: #efefef;
            display: inline-block;
            text-decoration: none;
            font-weight: 200;
            font-size: 14px;
        }
        &:last-child a {
            padding-right: 0;
        }
        @include media($large-screen) {
            display: inline;
            a {
                padding-right: 1em;
            }
        }
    }
}
